# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Codigo generado
build/*.exe
build/*.c
build/Grupo06
test/Final.asm
test/intermedia.txt
test/prueba*_resultado.txt
test/tabla_de_simbolos.txt
yacc/*.tab.c
yacc/*.output

# archivos vim
*.swp
